.vjs-mouse.vjs-playlist .vjs-playlist-title-container {
    display: none!important;
}

.vjs-playlist img {
    height: 80px!important;
}
.bc-iframe .vjs-playlist-sidebar {
	width: 200px;
}
/*@media (min-width:920px) {
    .bc-iframe .vjs-playlist-sidebar {
        width: 14%;
    }
}
@media (min-width: 640px){
	.bc-iframe .vjs-playlist-sidebar{
		width: 19%;
	}
}
*/